*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    min-height: 100vh;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.container{
    width: 85%;
    margin: auto;
}

nav{
    height: 80px;
}
nav h1{
    color: white;
}
nav a{
    color: white;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}

nav ul li a:hover{
    background-color: #eb7620;
    transition: 0.5s ease;
}

.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
}
